body {
  background: black;
  font-size: 16px;
  line-height: 1;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, 
h2, 
h3, 
h4, 
h5 {
  margin-top: 0;
  font-family: $fnt-clerk;
}  
h1, 
h2, 
h3 {
  font-weight: bold;
}
h1 {
  font-size: $font-xl;
}
h2 {
  font-size: $font-l;
}
h3 {
  font-size: $font-m;
}

a, 
a:visited {
  color: $clr-lighter;
  &:hover {
    color: $clr-lighter;
  }
}

ul {
  list-style: none;
}

input, 
select, 
i.fa-search {
  border: 1px solid $clr-light;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background-color: transparent;
  border-radius: 0;
  -webkit-appearance: none;
  color: $clr-lighter;
  color: rgba(255,255,255,0.75);
  padding: 1em;
}

label {
  font-family: $fnt-clerk;
  color: $clr-lighter;
  display: block;
  @include respond-to(medium) {
    display: inline-block;
  }
}

footer ul {
  margin: 0;
  padding: 0;
  > li {
    display: inline-block;
    padding: 0 7.5px 0 10px; // odd padding either side to adjust for strange inline-block bug

    &:first-of-type {
      padding-left: 0;
    }
    + li {
      border-left: 1px solid $clr-light;
    }
  }
}