/* Hero */
.hero {
  padding-top: 2em;
  @include respond-to(medium){
    height: 100vh;
    min-height: 620px;
  }

  &__title {
    max-width: 200px;
    line-height: 0.7;

    @include respond-to(medium) {
      font-size: $font-xxl;
      padding-top: 3.5em;
      padding-top: 15vh;
    }
  }

  &__subtitle {
    @include respond-to(medium) {
      font-size: $font-xl;
      padding-top: 1.75em;
      padding-top: 15vh;
    }
  }

  &__title, 
  &__subtitle {
    color: $clr-lighter;
  }
  
  &__image--background {
    @include respond-to(medium){
      display: block;
      height: 100vh;
      min-height: 620px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: url('../img/hero.png') no-repeat center center;
      background-size: cover;
      z-index: -1;
    }
  }
}

/* Menus */
.menu {
  margin: 0;
  padding: 0;
}

  // Main
  .menu--main {
    position: absolute;
    top: 50px;
    right: 0;
    width: 0;
    padding: 2em 0;
    background-color: $clr-highlight-pink;
    @include transition(all, 1s, ease);
  }

  .menu__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    background-color: $clr-highlight-pink;
    @include transition(all, 1s, ease);

    a {
      width: 100%;

      &.menu__trigger--close {
        display: none;
      }
    }
  }

  #main-menu:target {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;

    .menu__trigger {
      background-color: $clr-highlight-pink;
    }

    .menu__trigger--close {
      display: table-cell;
    }
    .menu__trigger--open {
      display: none;
    }

    .menu--main {
      width: 300px;
    }
  }

  // Social
  .menu--social {
    &__item {
      @include miniBlock($clr-light);
      float: left;

      &:not(:first-of-type){
        margin-left: 1px;
      }

      a > i {
        font-size: $font-l;
      }
    }
  }

  header .menu--social {
    position: absolute;
    top: 0;
    right: 76px;

    &__item {
      @include miniBlock($clr-dark);
      float: right;

      a > i {
        font-size: $font-m;
      }

      &:not(:last-of-type) {
        margin-left: 1px;
      }
    }
  }

/* Forms */
.form--homepage {
  padding: 3em 0;

  @include respond-to(medium) {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: $font-m;
    background-color: rgba(0,0,0,0.5);
  }

  label {
    margin-bottom: 0.25em;

    @include respond-to(medium) {
      margin-right: 1em;
    }

    &:nth-of-type(2){
      margin-top: 1em;
    }
  }

  input:not([type='submit']) {
    width: 100%;
    @include respond-to(medium) {
      width: auto;
      margin-right: 0.5em;
    }
  }

  select {
    float: left;
    width: 75%;
    width: calc(100% - 65px);
    @include respond-to(medium) {
      width: auto;
      float: none;
      margin-right: 0.5em;
    }
  }

  input, 
  select, 
  i.fa-search {
    height: 3em;
  }
}

/* Blocks */
.blocks {
  position: relative;

  &__block {
    display: table;
    height: 125px;
    min-width: 100%;
    @include respond-to(small){
      min-width: 0;
      height: 200px;
    }

    > a {
      display: table-cell;
      vertical-align: middle;
      font-size: $font-m;
      font-family: $fnt-clerk;
      text-align: center;
    }

    &:nth-of-type(odd) {
      background-color: $clr-highlight-purple;
    }

    &:nth-of-type(even) {
      background-color: $clr-highlight-pink;
    }
  }

  img.blocks__block {
    display: none;
    @include respond-to(small){
      display: table;
    }
  }
}

/* Footer */
.footer--one, 
.footer--two, 
.footer--three {
  padding: 2em 0;
}

.footer--one {
  background: $clr-lighter;
}

.footer--two {
  background: $clr-dark;
}

.footer--three {
  background: $clr-darker;

  p {
    color: $clr-light;
  }
}

/* "Customise" */
aside {
  position: absolute;
  top: 0;
  left: -250px;

  > span {
    display: table;
    position: absolute;
    right: -87px;
    top: 37px;
    width: 125px;
    height: 50px;
    background-color: $clr-dark;
    color: $clr-light;
    text-align: center;
    @include rotate(270);

    &:hover {
      cursor: pointer;
    }

    > span {
      display: table-cell;
      vertical-align: middle;
    }
  }

  p {
    float: left;
    width: 250px;
    overflow: hidden;
    background-color: $clr-highlight-pink;
    margin: 0;
    padding: 1em;
  }
}

.customise__trigger--close {
  display: none;
}