/* Utility Classes */
.text--med-color {
  color: $clr-med;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

// Fix positioning on homepage submit
.form--homepage input[type="submit"] {
  @include respond-to(medium) {
    position: relative;
    top: 2px;
  }
}